
.mainContainerFavorite {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.containerFavoriteTiles {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
}
.mainTile {
  padding: 20px;
}
.favoriteTile {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 200px;
  height: 200px;
}
.favoriteTileImg {
  display: flex;
  width: 200px;
  height: 200px;
}
.characterNameTile {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 100px;
}