
*>* {
  font-family: 'Open Sans', sans-serif;
}
.mainContainerFavorite {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containerFavoriteTiles {
  display: flex;
  gap: 20px;

}
.mainTile {
  padding: 20px;
  background-color: aliceblue;
}
.favoriteTile {
  display: flex;
  flex-direction: column;
  background-color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
}
.favoriteTileImg {
  display: flex;
  height: 200px;
  margin: 0 auto;
}
.characterNameTile {
  display: flex;
  justify-content: space-between;
  height: 100px;
  white-space: nowrap;
}